/*Dark mode color scheme: 
  color: #35e01f;
  color: #05f020;
  background-color: #121212;
*/

.body{
  background-color: yellow;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  position: absolute;
  bottom: 2rem;
  left: 45%;
  transform: translate(-50%,-50%);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading{
  max-width: 50%;
}

.intro{
  /* margin-top: 30px; */
  padding: 3rem 2rem;
  height: 100vh;
}
/* 
.intro-main{
  background-color: blue;
} */

.intro-img,.intro2-img,.intro3-img{
  margin: 0 auto;
  background-position: 50% 50%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.intro-img{
  background-image: url(./image/easycart.webp);
}

.intro2-img{
  background-image: url(./image/world.webp);
}

.intro3-img{
  background-image: url(./image/packaged.webp);
}

.intro h2{
  margin: 2rem auto;
  color: #1EBA60;
  text-align: center;
}

.circle{
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.circle *{
  padding: 5px;
}

.end{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.intro .nxt{
  margin: 1rem auto;
  width: 80vw;
}

.nxt{
  border: 1px solid;
  padding: 1rem;
  border-radius: 2.5rem;
  color: white;
  background-color: #1EBA60;
  width: 85vw;
  cursor: pointer;
}

.intro .end .nxt:first-child{
  background-color: transparent;
  color: #1EBA60;
  border: none;
}

.intro .end .nxt:first-child:hover{
  background-color: #1EBA60;
  color: white;
  border: 1px solid #1EBA60;
}

.intro .end .nxt:last-child:hover{
  background-color: transparent;
  color: #1EBA60;
  border: 1px solid #1EBA60;
}

.signup{
  padding-bottom: 1rem;
}


.welcome-img,.signup-img,.forgot-img,.reset-img{
  margin: 0 auto;
  background-position: 50% 50%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.welcome-img{
  background-image: url(./image/welcome.png);
}

.welcome-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.welcome-btn button{
  background-color: transparent;
  border: 1px solid #e6e6e6;
  margin: 5px auto;
  width: 80vw;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
}

.welcome-btn button div{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.logo-text{
  margin-left: 1rem;
  font-weight: bold;
  align-items: flex-start;
  width: 50%;
  text-align: left;
}

.welcome-btn .sign-in{
  background-color: #1EBA60;
  border-radius: 3rem;
  color: white;
  padding: 1rem 5px;
}

.no-acc{
  color: #7d7d7d;
  margin: 1rem auto;
}

.no-acc span{
  color:  #1EBA60;
  font-weight: bold;
  cursor: pointer;
}

.signup-img{
  background-image: url(./image/wecare.webp);
}
/* 
.signup{
  font-size: 1.5rem;
} */

.signup h1{
  color: #1EBA60;
}

/* .form-container {
  background-color: blue;
} */

.form-container h2{
  color: black;
  margin-top: 2rem;
}

.form {
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form p{
  width: 100%;
  text-align: left;
}

.form span{
  color: red;
}

.form--input {
  width: 100%;
  /*margin-bottom: 2rem;*/
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid #EBEEF2;
}

.form--input:focus{
  outline: 2px solid #1EBA60;
}


.form--marketing {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.form--marketing > input {
  margin-right: 1rem;
}

.icons{
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.icons button{
  border-radius: 50%;
  padding: 1rem;
  border: 1px solid #EBEEF2;
  background-color: transparent;
}

.forget{
  color: #1EBA60; 
  cursor: pointer;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.back{
  display: flex;
  align-items: center;
  margin: 1rem;
}

.back h1{
  margin-left: 1rem;
}

.forgot-img{
  background-image: url(./image/password.svg);
}

.forgot-txt{
  padding: 1rem;
  text-align: left;
  margin: 1rem auto;
  width: 85vw;
  font-size: 1.5rem;
}

.method{
  background-color: transparent;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 85vw;
  border: 1px solid #1EBA60;
}
.method:focus{
  outline: 2px solid #1EBA60;
  background-color: transparent;
}

.method-logo{
  background-color: #D8FDE1;
  border-radius: 100%;
  padding: 1rem;
}

.method-txt{
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  align-items: flex-start;
}

.method-txt p{
  padding: 5px;
}

.forgot .nxt{
  margin: 1rem;
}

.code-slot{
  position: absolute;
  width: 85vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;

}

.code-slot-btn{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.code-slot-btn button{
  border: 1px solid #05f020;
  background-color: transparent;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.code-slot span{
  color: #05f020;
}

.resend .nxt{
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.resend h1{
  margin-bottom: 1rem;
  color: #1EBA60;
  text-align: center;
}

.reset-img{
  background-image: url(./image/reset.svg);
}

.country{
  margin: 5px auto;
}

.country-select{
  margin-bottom: 60vh;
}

.select-country{
  padding: 2rem;
  width: 85vw;
}


.user{
  padding: 3rem;
  background-color: #F5F5F8;
  margin: 0 auto;
  position: relative;
  width: 30%;
  border-radius: 50%;
}


.dp{
  /* in tablet mode-- width: 20vw;
  height: 25vh; */
  position: relative;
  width: 30vw;
  height: 25vh;
  margin: 0 auto;
  background-image: url(./image/dp.jpg);
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  border-radius: 50%; 
}


.user-pen{
  background-color: #1EBA60;
  position: absolute;
  right: 30%;
  /* bottom: 10px; */
  transform: translate(-50%,-50%);
  margin-top: -2rem;
  padding: 5px;
  border-radius: 50%;
}


.user-input{
  border: 1px solid #1EBA60;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
}

.user-input:not(:last-child){
  margin-bottom: 10px;
}

.user-input input{
  border: none;
  background-color: transparent;
  text-indent: 5px;
  outline: none;
  font-family: Helvetica Neue;
  width: 100%;
}

.interests{
  margin: 1rem;
  display: grid;
  grid-template: auto/auto auto auto;
  grid-gap: 1rem;
}

.joy,.sad{
  padding: 5px;
  border: 1px solid #D8FDE1;
  border-radius: 1rem;
  padding: 1rem;
}

.sad{
  background-color: #1EBA60; 
  color: white;
}


.joy{
  background-color: white;
  color: inherit;
}

.interest .nxt{
  margin: 2rem auto;
}

.txt{
  padding: 1rem;
  text-align: left;
}

.create{
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.create h2{
  margin-bottom: 2rem;
}

.pin{
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.great{
  /* background-color: white; */
  background-color: red;
  z-index: 1;
  padding: 3rem;
  width: 85vw;
  border-radius: 1.5rem;
  position: absolute;
  /* top: 10%; */
  /* left: 50%; */
  /* transform: translate(-50%,50%); */
  /* transform: translateX(-50%); */
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}

.great h2{
  color: #1EBA60;
  margin: 1rem;
}

.great .nxt{
  width: 100%;
  border: none;
}

.great button:first-child{
  background-color: #1EBA60;
  padding: 2rem;
  border-radius: 50%;
  border: none;
  
}

.great p:last-child{
  /*color: red;*/
  font-weight: bold;
}

.great-btn{
  /*background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.great-btn button{
  width: 45%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #1EBA60;
  background-color: transparent;
  color: #1eba60;
}

.great-btn button:last-child{
  color: white;
  background-color: #1EBA60;
  border: none;
}

/* .success { */
  /* position: relative; */
  /*background-blend-mode: darken;*/
  /* opacity: 0.3; */
  /* filter: grayscale(10%) blur(1px) brightness(100%); */
/* } */


.Home{
  /* background-color: red; */
  height: 100vh;
  position: relative;
  padding: 1rem;
  /* padding-bottom: 10vh; */
}

.home-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-top2{
  display: flex;
  align-items: center;
}

.home-top2 button{
  margin: 5px;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #D8FDE1;
}

.home-mid{
  border: 1px solid lightgrey;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.home-mid > button{
  padding: 5px 2rem;
  border: 2px solid #1EBA60;
  border-radius: 1.5rem;
  color: #1EBA60;
  background-color: transparent;
}

.wallet{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
}

.wallet button{
  background-color: #D8FDE1;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 50%;
  border: none;
}

.wallet > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wallet > div > p{
  /* margin-top: 0; */
  color: grey;
}

.help{
  margin-top: 20px;
  background-image: url(./image/baby.jpg);
  height: 30vh;
  border-radius: 10px;
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  filter: brightness(80%);
}

.help > p{
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  font-family: Helvetica Neue;
}

.help > div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  position: absolute;
  bottom: 5%;
  left: 30%;
}

.dot{
  background-color: #D8FDE1;
  border: transparent;
  border-radius: 5px;
  padding: 5px;
}
/* 
.notify-null-main, .bookmark-null-main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60vw;
} */

.notify-null-main p, .bookmark-null-main p{
  color: #1EBA60;
}

.notification, .bookmark{
  position: relative;
  text-align: left;
}

.notification > p{
  margin: 1rem auto;
}

/* .notification-top, .bookmark-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
} */

/* 
.notification-top .back, .bookmark-top .back{
  margin: 0;
} */
/* 
.notification-top h1, .bookmark-top h1{
  margin-left: 10px;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
/* 
.notify-null-main, .bookmark-null-main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60vw;
  background-color: red;
} */

/* .notify-null-main p, .bookmark-null-main p{
  color: #1EBA60;
} */
/* 
.bell, .book{
  background-color: #1EBA60;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%;
  width: 10vw;
} */
/* 
.notify,.book{
  text-align: left; 
} */

.notify-bar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.notify-bar div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.notify-bar > div > p:first-child{
  margin-bottom: 1rem;
  font-weight: bold;
  color: inherit;
}

.notify-bar p{
  /* margin-top: 0px; */
  color: grey;
}

.notify-logo{
  background-color: #1EBA60;
  padding: 1rem;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1.5rem;
  border: none;
}

.cancel{
  background-color: #f02828;
}
.new{
  background-color: #ffd500;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: static;
  z-index: 5;
}

.menu button{
  background-color: #e8f8ef;
  padding: 1rem;
  width: auto;
  border-radius: 10px;
  margin: 1rem auto;
  border: none;
}
