/*Dark mode color scheme: 
  color: #35e01f;
  color: #05f020;
  background-color: #121212;
*/

.body{
  background-color: yellow;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  position: absolute;
  bottom: 2rem;
  left: 45%;
  transform: translate(-50%,-50%);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading{
  max-width: 50%;
}

.intro{
  /* margin-top: 30px; */
  padding: 3rem 2rem;
  height: 100vh;
}
/* 
.intro-main{
  background-color: blue;
} */

.intro-img,.intro2-img,.intro3-img{
  margin: 0 auto;
  background-position: 50% 50%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.intro-img{
  background-image: url(./image/easycart.webp);
}

.intro2-img{
  background-image: url(./image/world.webp);
}

.intro3-img{
  background-image: url(./image/packaged.webp);
}

.intro h2{
  margin: 2rem auto;
  color: #1EBA60;
  text-align: center;
}

.circle{
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.circle *{
  padding: 5px;
}

.end{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.intro .nxt{
  margin: 1rem auto;
  width: 80vw;
}

.nxt{
  border: 1px solid;
  padding: 1rem;
  border-radius: 2.5rem;
  color: white;
  background-color: #1EBA60;
  width: 85vw;
  cursor: pointer;
}

.intro .end .nxt:first-child{
  background-color: transparent;
  color: #1EBA60;
  border: none;
}

.intro .end .nxt:first-child:hover{
  background-color: #1EBA60;
  color: white;
  border: 1px solid #1EBA60;
}

.intro .end .nxt:last-child:hover{
  background-color: transparent;
  color: #1EBA60;
  border: 1px solid #1EBA60;
}

.signup{
  padding-bottom: 1rem;
}


.welcome-img,.signup-img,.forgot-img,.reset-img{
  margin: 0 auto;
  background-position: 50% 50%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.welcome-img{
  background-image: url(./image/welcome.png);
}

.welcome-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.welcome-btn button{
  background-color: transparent;
  border: 1px solid #e6e6e6;
  margin: 5px auto;
  width: 80vw;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
}

.welcome-btn button div{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.logo-text{
  margin-left: 1rem;
  font-weight: bold;
  align-items: flex-start;
  width: 50%;
  text-align: left;
}

.welcome-btn .sign-in{
  background-color: #1EBA60;
  border-radius: 3rem;
  color: white;
  padding: 1rem 5px;
}

.no-acc{
  color: #7d7d7d;
  margin: 1rem auto;
}

.no-acc span{
  color:  #1EBA60;
  font-weight: bold;
  cursor: pointer;
}

.signup-img{
  background-image: url(./image/wecare.webp);
}
/* 
.signup{
  font-size: 1.5rem;
} */

.signup h1{
  color: #1EBA60;
}

/* .form-container {
  background-color: blue;
} */

.form-container h2{
  color: black;
  margin-top: 2rem;
}

.form {
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form p{
  width: 100%;
  text-align: left;
}

.form span{
  color: red;
}

.form--input {
  width: 100%;
  /*margin-bottom: 2rem;*/
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid #EBEEF2;
}

.form--input:focus{
  outline: 2px solid #1EBA60;
}


.form--marketing {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.form--marketing > input {
  margin-right: 1rem;
}

.icons{
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.icons button{
  border-radius: 50%;
  padding: 1rem;
  border: 1px solid #EBEEF2;
  background-color: transparent;
}

.forget{
  color: #1EBA60; 
  cursor: pointer;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.back{
  display: flex;
  align-items: center;
  /* margin: 1rem; */
  margin: 1rem 0;
}

.back h1{
  margin-left: 1rem;
}

.forgot-img{
  background-image: url(./image/password.svg);
}

.forgot-txt{
  padding: 1rem;
  text-align: left;
  margin: 1rem auto;
  width: 85vw;
  font-size: 1.5rem;
}

.method{
  background-color: transparent;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 85vw;
  border: 1px solid #1EBA60;
}
.method:focus{
  outline: 2px solid #1EBA60;
  background-color: transparent;
}

.method-logo{
  background-color: #D8FDE1;
  border-radius: 100%;
  padding: 1rem;
}

.method-txt{
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  align-items: flex-start;
}

.method-txt p{
  padding: 5px;
}

.forgot .nxt{
  margin: 1rem;
}

.code-slot{
  position: absolute;
  width: 85vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;

}

.code-slot-btn{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.code-slot-btn button{
  border: 1px solid #05f020;
  background-color: transparent;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.code-slot span{
  color: #05f020;
}

.resend .nxt{
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.resend h1{
  margin-bottom: 1rem;
  color: #1EBA60;
  text-align: center;
}

.reset-img{
  background-image: url(./image/reset.svg);
}

.country{
  margin: 5px auto;
}

.country-select{
  margin-bottom: 60vh;
}

.select-country{
  padding: 2rem;
  width: 85vw;
}


.user{
  padding: 3rem;
  background-color: #F5F5F8;
  margin: 0 auto;
  position: relative;
  width: 30%;
  border-radius: 50%;
}


.dp{
  /* in tablet mode-- width: 20vw;
  height: 25vh; */
  position: relative;
  width: 30vw;
  height: 25vh;
  margin: 0 auto;
  background-image: url(./image/dp.jpg);
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  border-radius: 50%; 
}


.user-pen{
  background-color: #1EBA60;
  position: absolute;
  right: 30%;
  /* bottom: 10px; */
  transform: translate(-50%,-50%);
  margin-top: -2rem;
  padding: 5px;
  border-radius: 50%;
}


.user-input{
  border: 1px solid #1EBA60;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
}

.user-input:not(:last-child){
  margin-bottom: 10px;
}

.user-input input{
  border: none;
  background-color: transparent;
  text-indent: 5px;
  outline: none;
  font-family: Helvetica Neue;
  width: 100%;
}

.interests{
  margin: 1rem;
  display: grid;
  grid-template: auto/auto auto auto;
  grid-gap: 1rem;
}

.joy,.sad{
  padding: 5px;
  border: 1px solid #D8FDE1;
  border-radius: 1rem;
  padding: 1rem;
}

.sad{
  background-color: #1EBA60; 
  color: white;
}


.joy{
  background-color: white;
  color: inherit;
}

.interest .nxt{
  margin: 2rem auto;
}

.txt{
  padding: 1rem;
  text-align: left;
}

.create{
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.create h2{
  margin-bottom: 2rem;
}

.pin{
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.great{
  background-color: red;
  z-index: 1;
  padding: 3rem;
  width: 85vw;
  border-radius: 1.5rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: 10%; */
  /* left: 50%; */
  /* transform: translate(-50%,50%); */
  /* transform: translateX(-50%); */
  
}

.great h2{
  color: #1EBA60;
  margin: 1rem;
}

.great .nxt{
  width: 100%;
  border: none;
}

.great button:first-child{
  background-color: #1EBA60;
  padding: 2rem;
  border-radius: 50%;
  border: none;
  
}

.great p:last-child{
  /*color: red;*/
  font-weight: bold;
}

.great-btn{
  /*background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.great-btn button{
  width: 45%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #1EBA60;
  background-color: transparent;
  color: #1eba60;
}

.great-btn button:last-child{
  color: white;
  background-color: #1EBA60;
  border: none;
}

/* .success { */
  /* position: relative; */
  /*background-blend-mode: darken;*/
  /* opacity: 0.3; */
  /* filter: grayscale(10%) blur(1px) brightness(100%); */
/* } */


.Home{
  /* background-color: red; */
  height: 100vh;
  position: relative;
  padding: 1rem;
  /* padding-bottom: 10vh; */
}

/* .logo{
  background-color: #1EBA60;
  border: none;
  padding: 1rem;
  padding: 5px;
  width: 30%;
  border-radius: 50%;
} */

.home-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-top2{
  display: flex;
  align-items: center;
}

.home-top2 button{
  margin: 5px;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #D8FDE1;
}

.home-mid{
  border: 1px solid lightgrey;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
  padding: 1rem;
}

.home-mid > button{
  padding: 5px 2rem;
  border: 2px solid #1EBA60;
  border-radius: 1.5rem;
  color: #1EBA60;
  background-color: transparent;
}

.wallet{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
}

.wallet button{
  background-color: #D8FDE1;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 50%;
  border: none;
}

.wallet > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wallet > div > p{
  /* margin-top: 0; */
  color: grey;
}

.help{
  margin-top: 20px;
  background-image: url(./image/baby.jpg);
  height: 30vh;
  border-radius: 10px;
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  filter: brightness(80%);
}

.help > p{
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  font-family: Helvetica Neue;
}

.help > div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,50%);
  width: 50%;
}

.dot{
  background-color: #D8FDE1;
  border: transparent;
  border-radius: 5px;
  /* padding: 5px; */
}

.bookmark-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 1rem; */
  margin: 1rem auto;
}

.bookmark-btn button{
  padding: 5px;
  margin: 0 5px;
  width: 50%;
  background-color: white;
  color: #1EBA60;
  border-radius: 15px;
  border: 1px solid #1EBA60;
  border-radius: 1.5rem;
}

.bookmark-btn button:first-child{
  color: white;
  border: 1px solid transparent;
  background-color: #1EBA60;
}

.notify-bar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.notify-bar div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.notify-bar > div > p:first-child{
  margin-bottom: 1rem;
  font-weight: bold;
  color: inherit;
}

.notify-bar > div:last-child{
  width: 80%;
}

.notify-bar p{
  /* margin-top: 0px; */
  color: grey;
}

.notify-logo{
  width: 20%;
}

.notify-logo button{
  margin: 0 auto;
  padding: 1rem;
  border-radius: 50%;
  border: none;
}

.good{
  background-color: #1EBA60;
}

.cancel{
  background-color: #f02828;
}
.new{
  background-color: #ffd500;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: static;
  /* z-index: 5; */
}

.menu button{
  background-color: #e8f8ef;
  padding: 1rem;
  width: auto;
  border-radius: 10px;
  margin: 1rem auto;
  border: none;
}

.null{
  padding: 1rem;
}

.null .great{
  background-color: transparent;
}

.null p{
  color: #1EBA60;
  margin-top: 1rem;
}

.null .menu{
  position: absolute;
  transform: translate(-50%,50%);
  left: 50%;
  bottom:2rem;
  /* width: 85vw; */
  width: 100%;
}

.search-max{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
}
.search-max .dot{
  padding: 5px;
}

.search-min{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 5px;
  width: 70%;
  background-color: #F4F6F9;
}


.search-min input{
  border: none;
  background-color: transparent;
  color: black;
  text-indent: 1rem;
}

.search-min input:focus{
  outline: none;
}

.search-note h3{
  width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* color: red; */
}

.search-txt{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-txt P:first-child{
  color: lightgrey;
}

.search-txt p:last-child{
  color: #1EBA60;
}

.search-txt button{
  color: #1EBA60;
  background-color: transparent;
  border: 2px solid #1EBA60;
  border-radius: 2rem;
  /* width: 30%; */
  padding: 2px 1rem;
}

.search-null-main{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-result{
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  border: 1px solid lightgrey;
  overflow: hidden;
  margin: 1rem 0;
}

.search-img, .search-img2, .search-img3, .search-img4, .search-img5, .search-img6, .search-img7, .search-img8, .search-img9{
  position: relative;
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  height: 25vh;
  width: 30vw;
}

.search-img{
  background-image: url(./image/mal.jpg);
}

.search-img2{
  background-image: url(./image/can.jpg);
}

.search-img3{
  background-image: url(./image/baby.jpg);
}

.search-img4{
  background-image: url(./image/volcano.jpg);
}

.search-img5{
  background-image: url(./image/flood1.jpg);
}

.search-img6{
  background-image: url(./image/poor.jpg);
}

.search-img7{
  background-image: url(./image/baby2.jpg);
}

.search-img8, .bookmark-img8{
  background-image: url(./image/quake.jpg);
}

.search-img9{
  background-image: url(./image/flood2.jpg);
}


.search-detail{
  width: 70%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-detail h3{
  margin-bottom: 1rem;
}

.search-detail span{
  color: #1EBA60;
}

.search-detail .bookmark-bar{
  margin-top: 1rem;
  /* width: 90%; */
}

/* .notification, .bookmark{
  position: relative;
  text-align: left;
  background-color: red;
} */


.bookmark-img, .bookmark-img2, .bookmark-img8{
  background-position: 50% 50%;
  object-fit: contain;
  position: relative;
  background-size: cover;
  height: 30vh;
  border-radius: 10px 10px 0 0;
}

.bookmark-img{
  background-image: url(./image/patient.jpg);
}

.bookmark-img2{
  background-image: url(./image/student.jpg);
}

.bookmark-card{
  margin-top: 2rem;
  border-radius: 1rem;
  border: 1px solid lightgray;
}

.bookmark-note{
  height: 20vh;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.bookmark-note > p{
  /* margin-top: 5px; */
  margin: 5px 0;
}

.bookmark-note span{
  color: #1EBA60;
}

.bookmark-bar{
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  background: linear-gradient(90deg, #1EBA60,#d6ffed);
}


.bookmark-end{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* .bookmark-note h3{
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.bookmark-mark{
  position: absolute;
  top: 10%;
  right: 5%;
  background-color: #1EBA60;
  padding: 5px;
  border-radius: 1rem;
}

.remove{
  background-color: red;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.remove-main{
  /* background-color: blue; */
  padding: 1rem;
}

.remove-main button{
  background-color: white;
  margin: 1rem;
  padding: 5px 1rem;
  border-radius: 2rem;
  width: 40%;
  color: #1EBA60;
  border: 1px solid #1EBA60;
}

.remove-main button:last-child{
  background-color: #1EBA60;
  color: white;
  border: 1px solid transparent;
}

.urgent .search-txt{
  margin-top: 1rem;
}

.urgent .bookmark-img2,.bookmark-img8{
  height: 40vh;
}


/* Idea on the remove section i.e posibility for my custom hook to affect a parent div that would act as the body tag */

/* .urgent-item{
  background-color: red;
}

.urgent-item .Home .home-top .dot{
  padding: 0;
  background-color: blue;
} */

.urgent-item .home-top{
  margin-bottom: 1rem;
}

.urgent-item .search-min{
  width: 80%;
}

.urgent .watch-video{
  margin: 1rem auto;
}

.watch{
  padding: 1rem;
}

.watch .back {
  /* background-color: blue; */
  width: 90%;
}

.watch .back h1{
  /* background-color: red; */
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watch-video{
  display: grid;
  grid-template: auto/auto auto;
  grid-gap: 10px;
}

.watch-main-video{
  display: grid;
  grid-template: auto/auto auto;
  grid-gap: 1.5rem;
}

.watch-play{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.watch-txt{
  color: white;
  padding: 1rem;
  position: absolute;
  bottom: 5%;
  width: 90%;
  text-align: left;
  white-space: normal;
}

.watch-txt h3{
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watch1, .watch2{
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  object-fit: contain;
  border-radius: 2rem;
  height: 30vh;
}

.watch1{
  background-image: url(./image/baby.jpg);
}

.watch2{
  background-image: url(./image/baby2.jpg);
}


.watch-main,.watch-main2,.watch-main3,.watch-main4,.watch-main5,.watch-main6{
  height: 50vh;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  object-fit: contain;
  border-radius: 2rem;
}

.watch-main{
  background-image: url(./image/mal.jpg);
}

.watch-main2{
  background-image: url(./image/baby.jpg);
}

.watch-main3{
  background-image: url(./image/baby2.jpg);
}

.watch-main4{
  background-image: url(./image/flood1.jpg);
}

.watch-main5{
  background-image: url(./image/flood2.jpg);
}

.watch-main6{
  background-image: url(./image/orphan.jpg);
}


.watchfull{
  position: relative;
  background-image: url(./image/baby.jpg);
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 2rem;
  height: 100vh;
  /* height: 100%; */
  /* width: 90vw; */
  /* border-radius: 10px; */
  margin: 0;
}

.watchfull .back{
  position: absolute;
  top: 5%;
}

.watchfull .urgent-bar{
  background: linear-gradient(90deg, #1EBA60,#d6ffed 40%);
}


.watchfull-end{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0%;
  width: 90vw;
}

.watchfull-note{
  position: absolute;
  bottom: 10%;
  text-align: left;
  text-indent: 2rem;
  color: white;
  width: 100%;
}

.watchfull-end div:first-child{
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.watchfull-end div:nth-child(2){
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.watchfull-end div:last-child{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 1rem;
}

.prayer-card{
  border-radius: 1rem;
  border: 1px solid lightgrey;
  margin: 1rem auto;
  padding: 1rem;
}

.prayer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 1rem 0px;
  width: 90%;
  margin: auto;
}

.prayer-img, .prayer-img2, .prayer-img3, .prayer-img4{
  position: relative;
  padding: 2rem;
  border-radius: 50%;
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 1rem;
}

.prayer-img{
  background-image: url(./image/dp.jpg);
}

.prayer-img2{
  background-image: url(./image/can.jpg);
}

.prayer-img3{
  background-image: url(./image/mal.jpg);
}

.prayer-img4{
  background-image: url(./image/card.webp);
}

.prayers{
  padding: 1rem;
}

.prayers .back{
  width: 70%;
}

.prayers .home-top{
  display: flex;
  width: 100%;
}

.prayers .dot{
  padding: 1rem;
}

.prayers .home-top h1{
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prayer-like{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 1rem 0px;
}

.prayer-like div{
  display: flex;
  align-items: center;
}

.prayer-like p{
  margin-left: 5px;
}

.prayer-detail{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.prayer-profile span{
  color: grey;
  margin-right: 2rem;
}


.prayer-comment{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.prayer-comment span{
  margin-top: 1rem;
  color: #6B737D;
}

.Send{
  padding-top: 1rem;
  border-top: 1px solid lightgrey;
  border-radius: 1rem
}

.send{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 1rem;
}

.send input{
  border: none;
  width: 100%;
}

.send input:focus{
  outline: none;
}

.donation-img{
  background-image: url(./image/baby2.jpg);
  position: relative;
  height: 50vh;
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
}

.donation .home-top{
  margin: 0 1rem;
}
.donation .home-top2 button{
  background-color: rgba(53, 224, 31, 0.2);
}

.donation-img > div:last-child{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.donation-mid{
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donation-mid > button{
  padding: 5px 1rem;
  border-radius: 2rem;
  background-color: transparent;
  border: 1px solid #1EBA60;
  color: #1EBA60;
}

.donation-mid-end{
  display: flex;
  align-items: center;
}

.donation .nxt{
  width: 95vw;
}

.donation .home-mid{
  margin: 2rem 1rem 1rem 1rem;
}

.verify{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.donation > h3, .success > h3{
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
}

.story{
  margin: 1rem;
  text-align: left;
}

.story-more{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;  
}

.more{
  color: #1EBA60;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.less{
  color: red;
}

.donation .search-txt, .success .search-txt{
  margin: 1rem;
}


.donation .prayer-card{
  margin: 1rem;
}

.donate{
  height: 100vh;
  margin: 1rem;
  position: relative;
}

.donated{
  width: 100%;
  height: 20vh;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid #1EBA60;
  font-size: 2rem;
  font-weight: bold;
  color: #1EBA60;
  margin-top: 1rem;
}

.amount{
  display: grid;
  grid-template: auto/auto auto auto;
  grid-gap: 1.5rem;
  border: 2px solid #f0f0f0;
  border-style: solid none;
  padding: 2rem 1rem;
  margin: 2rem auto;
}

.amount button{
  padding: 1rem;
  color: #1EBA60;
  background-color: transparent;
  border: 2px solid #1EBA60;
  border-radius: 2rem;
}

.anonymus{
  text-align: left;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.anonymus input{
  margin-right: 1rem;
}

.donate .nxt{
  position: absolute;
  bottom: 2rem;
  transform: translateX(-50%);
}

.payment{
  margin: 1rem;
}

.payment .home-mid{
  margin: 1rem auto;
}

.healthy{
  margin: 1rem;
}

.healthy > h3{
  text-align: left;
  margin: 1rem;
}

.healthy-top{
  background-color: #D8FDE1;
  border: 1px solid transparent;
  padding: 2rem;
  border-radius: 50%;
}

.healthy-txt{
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.healthy-txt h3{
  margin-right: 1rem;
}

.healthy-btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
  padding: 1rem;
}

.healthy-btn button{
  background-color: transparent;
  padding: 1rem;
  border: none;
}

.healthy-btn button:nth-child(2){
  border: 1px solid lightgrey;
  border-style: none solid;
}

.healthy-mid{
  margin: 1rem auto;
  border: 1px solid lightgrey;
  border-style: solid none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.healthy-mid button{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  padding: 5px;
  border-radius: 2rem;
  background-color: #1EBA60;
  color: white;
  border: 2px solid #1EBA60;
}

.healthy-mid button:last-child{
  background-color: transparent;
  color: #1EBA60;
  border: 2px solid #1EBA60;
}

.healthy-end{
  display: flex;
  justify-content: space-around;
}

.unclicked{
  background-color: transparent;
  border: 2px solid #1EBA60;
  padding: 5px;
  width: 30%;
  border-radius: 2rem;
  color: #1EBA60;
}


.clicked{
  background-color: #1EBA60;
  border: 2px solid #1EBA60;
  padding: 5px;
  width: 30%;
  border-radius: 2rem;
  color: white;
}

.healthy .search-txt{
  margin-top: 1rem;
}

.success{
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  height: 100%;

}

.share{
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 2rem 0;
  background-color: white;
  z-index: 1;
}

.share-main{
  display: grid;
  grid-template: auto/auto auto auto auto;
  grid-gap: 1.5rem;
  padding: 2rem;
}

.share-main button{
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.btn1{
  background-color: #1EBA60;
}

.btn2{
  /* background-color: #100ce9; */
  /* background: linear-gradient(to right,#3949ab 0%,#2196f3 100%); */
  background: linear-gradient(to right,#00bcd4 0%,#2196f3 100%);
}

.btn3{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.btn4{
  background-color: purple;
}

.btn5{
  background-color: black;
}

.donators{
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.list .dot{
  padding: 5px;
}

.donator-ayms{
  display: flex;
  align-items: center;
  /*position: relative;*/
  margin: 1rem auto;
}

.donator-ayms div{
  background-color: #1EBA60;
  /*border: 1px solid black;*/
  padding: 5px;
  position: relative;
  border-radius: 50%;
  margin-right: 1rem;
}

.calender{
  background-color: #f5f5f5;
  border-radius: 2rem;
  padding: 1rem;
  /* background-color: red; */
}

.calender .search-txt{
  margin: 1rem;
}

table{
  width: 100%;
  height: 40vh;
  table-layout: fixed;
  border-spacing: 1rem;
}

td{
  /* background-color: blue; */
  border-radius: 50%;
  /* width: 10%; */
  /* padding: 1rem; */
  height: 3rem;
}
