*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  /* font-size: 75%; */
}


body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 112.5em){
  body{
    background-color:blue;
  }
  html{
    font-size: 80%;
  }  
}

@media (max-width: 75em){
  /* body{
    background-color: aqua;
  } */
  /* html{
    font-size: 75%;
  }   */
} 


@media (max-width: 56.25em){
  /* html{
    font-size: 60%;
  }   */
  /* body{
    background-color: red;
  } */
}


@media (max-width: 37.5em){
  /* body{
    background-color: green;
    } */
    /* html{
      font-size: 50%;
    } */
    
  }





/* 
@media (min-width: 56.25em){
  html{
    font-size: 56.25%;
  }  
  body{
    background-color: red;
  }
}

@media (min-width: 75em){
  body{
    background-color: aqua;
  }
  html{
    font-size: 75%;
  }  
} 


@media (min-width: 112.5em){
  body{
    background-color:blue;
  }
  html{
    font-size: 75%;
  }  
}  */












/*for screen bigger than medium sized laptops*/@media (min-width: 112.5em){
  /* html{
    font-size: 75%;
  }   */
}
/* @media screen and (min-width: 768px){}



/*56.25%

50%

75% */
